.lt-toc * {
  box-sizing: border-box;
}

.lt-toc--list {
  margin: 0;
  padding-left: 0;
  overflow-y: auto;

  list-style: none;
}

.lt-toc--link {
  display: block;
  padding: 6px 22px 6px 12px;

  text-decoration: none;
}

.lt-toc--item-h2.active > a {
  background: currentColor;
}

.lt-toc--item-h2.active > a span {
  color: #ffffff;
}

.lt-toc--link.active {
  background: currentColor;
}

.lt-toc--link.active > span {
  color: #ffffff;
}

.lt-toc--current {
  padding: 6px 12px;
}

/* Desktop version */
.lt-toc_is-desktop {
  position: relative;
}

.lt-toc_is-desktop .lt-toc--title {
  margin: 0 0 12px;

  font-size: 20px;
}

.lt-toc_is-desktop .lt-toc--current {
  display: none;
}

.lt-toc_is-desktop .lt-toc--item {
  margin-bottom: 6px;
}

.lt-toc_is-desktop .lt-toc--list {
  display: block !important;
}

.lt-toc_is-desktop .lt-toc--link {
  border-radius: 4px;
}

.lt-toc_is-desktop:not(.lt-toc_is-bottom) .lt-toc--container {
  top: 100px!important;
}

.lt-toc_is-desktop:not(.lt-toc_is-bottom) .lt-toc--container.lt-toc--bar-enabled {
  top: 150px!important;
}

/* Mobile version */
.lt-toc-mobile {
  display: none;
}

.lt-toc-mobile.is-active {
  display: block;
}

.lt-toc-mobile,
.lt-toc_is-mobile {
  width: 100%;
  height: 50px;
}

.lt-toc-mobile_start {
  margin-bottom: 24px;
}

.lt-toc-mobile_end {
  margin-top: 24px;
}

.lt-toc_is-mobile {
  position: absolute;
  z-index: 99;
}

.lt-toc_is-mobile.lt-toc_is-bottom {
  top: 0 !important;
}

.lt-toc_is-mobile .lt-toc--container {
  position: relative;

  width: 100%;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.lt-toc_is-mobile.lt-toc_is-fixed .lt-toc--container {
  top: 90px!important;
}

.lt-toc_is-mobile.lt-toc_is-fixed .lt-toc--container.lt-toc--bar-enabled {
  top: 140px!important;
}

.lt-toc_is-mobile .lt-toc--title {
  position: absolute;
  top: 0;
  left: 12px;

  display: block;
  margin: 0;
  padding: 2px 4px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  background: #eee;
  border-radius: 4px;
  transform: translateY(-50%);
}

.lt-toc_is-mobile .lt-toc--list {
  display: none;

  border-top: 1px solid #e8e8e8;
}

.lt-toc_is-mobile .lt-toc--current,
.lt-toc_is-mobile .lt-toc--link {
  padding: 12px;

  font-size: 16px;
  line-height: 1.5;
}

.lt-toc_is-mobile .lt-toc--current {
  position: relative;

  padding-right: 36px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}

.lt-toc_is-mobile .lt-toc--current:before,
.lt-toc_is-mobile .lt-toc--current:after {
  position: absolute;
  right: 22px;
  bottom: 50%;

  display: block;

  background: #4e5565;
  border-radius: 1px;
  transform: translate(50%, 50%);

  transition: all 0.3s;

  content: "";
}

.lt-toc_is-mobile .lt-toc--current:before {
  width: 2px;
  height: 12px;
}

.lt-toc_is-mobile .lt-toc--current:after {
  width: 12px;
  height: 2px;
}

.lt-toc_is-mobile .lt-toc--container.is-active .lt-toc--current:before {
  transform: translate(50%, 50%) rotate(-90deg);
}

.lt-toc_is-mobile .lt-toc--container.is-active .lt-toc--current:after {
  transform: translate(50%, 50%) rotate(-90deg);
  opacity: 0;
}

.lt-toc_is-mobile .lt-toc--item:last-child a {
  border-radius: 0 0 4px 4px;
}

.lt-toc--item {
  position: relative;
}

.lt-toc--item ul {
  padding-left: 15px;
  margin-bottom: 0;
  list-style: none;
}

.lt-toc--item-h3:not(.parent) > ul {
  display: block!important;
}

.lt-toc--item-h2.parent > a,
.lt-toc--item-h3.parent > a {
  position: relative;
  z-index: 1;
}

.lt-toc--item-h2.parent .lt-toc-toggle,
.lt-toc--item-h3.parent .lt-toc-toggle {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 2;
  width: 42px;
  height: 30px;
  cursor: pointer;
}

.lt-toc--item-h2.parent .lt-toc-toggle:after,
.lt-toc--item-h3.parent .lt-toc-toggle:after {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  margin-top: -13px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  line-height: 1.5;
  color: inherit;
  content: "\f054";
}

.lt-toc--item-h2.parent.active > .lt-toc-toggle:after,
.lt-toc--item-h3.parent.active > .lt-toc-toggle:after {
  color: #fff;
}

.lt-toc--item-h2.parent > a.open + .lt-toc-toggle:after,
.lt-toc--item-h3.parent > a.open + .lt-toc-toggle:after {
  content: "\f078";
}

.lt-toc-mobile_start {
  height: 0;
}